lib/MojoCheckbot/dtds/www.openmobilealliance.org/tech/DTD/MLP_ID_320.DTD

<!-- MLP_ID -->
<!--
MLP V3.2 Document Type Definition

Copyright Open Mobile Alliance Ltd., 2004
          All rights reserved

MLP is an XML language. Typical usage:
   <?xml version="1.0"?>
   <!DOCTYPE svc_xxx PUBLIC "-//OMA//DTD {abbrev x.y}//EN"
             "http://www.openmobilealliance.org/DTD/{filename}"
             [<?oma-{ref}-ver supported-versions="{versions}"?>]>
   <svc_xxx>
      ... 
  </svc_xxx>

Terms and conditions of use are available from the
Open Mobile Alliance Ltd. web site at
http://www.openmobilealliance.org/
-->

<!ELEMENT msid (#PCDATA)>
<!ATTLIST msid
	type (MSISDN | IMSI | IMEI | MIN | MDN | EME_MSID | ASID | OPE_ID | IPV4 | IPV6 | SESSID | SIP_URI | TEL_URL) "MSISDN"
	enc (ASC | CRP) "ASC"
>
<!ELEMENT msid_range (start_msid, stop_msid)>
<!ELEMENT msids (((msid, codeword?, session?, trans_id?) | (msid_range, codeword*))+)>
<!ELEMENT codeword (#PCDATA)>
<!ELEMENT esrd (#PCDATA)>
<!ATTLIST esrd
	type (NA) "NA"
>
<!ELEMENT esrk (#PCDATA)>
<!ATTLIST esrk
	type (NA) "NA"
>
<!ELEMENT session (#PCDATA)>
<!ATTLIST session
	type (APN | DIAL) #REQUIRED
>
<!ELEMENT start_msid (msid)>
<!ELEMENT stop_msid (msid)>
<!ELEMENT trans_id (#PCDATA)>
