lib/MojoCheckbot/dtds/www.openmobilealliance.org/tech/DTD/MLP_QOP_320.DTD

<!-- MLP_QOP -->
<!--
MLP V3.2 Document Type Definition

Copyright Open Mobile Alliance Ltd., 2004
          All rights reserved

MLP is an XML language. Typical usage:
   <?xml version="1.0"?>
   <!DOCTYPE svc_init PUBLIC "-//OMA//DTD {abbrev x.y}//EN"
             "http://www.openmobilealliance.org/DTD/{filename}"
             [<?oma-{ref}-ver supported-versions="{versions}"?>]>
   <svc_init>
      ... 
  </svc_init>

Terms and conditions of use are available from the
Open Mobile Alliance Ltd. web site at
http://www.openmobilealliance.org/
-->
<!ELEMENT eqop (resp_req?, resp_timer?, (ll_acc | hor_acc)?, alt_acc?, max_loc_age?)>
<!ELEMENT qop ((ll_acc | hor_acc)?, alt_acc?)>
<!ELEMENT ll_acc (#PCDATA)>
<!ATTLIST ll_acc
	qos_class (ASSURED | BEST_EFFORT) #IMPLIED
>
<!ELEMENT hor_acc (#PCDATA)>
<!ATTLIST hor_acc
	qos_class (ASSURED | BEST_EFFORT) #IMPLIED
>
<!ELEMENT max_loc_age (#PCDATA)>
<!ELEMENT resp_req EMPTY>
<!ATTLIST resp_req
	type (NO_DELAY | LOW_DELAY | DELAY_TOL) "DELAY_TOL"
>
<!ELEMENT resp_timer (#PCDATA)>
