lib/MojoCheckbot/dtds/www.openmobilealliance.org/tech/DTD/RLP_FUNC_100.DTD

<!-- RLP_FUNC -->
<!--
RLP V1.0 Document Type Definition

Copyright Open Mobile Alliance Ltd., 2005
          All rights reserved

RLP is an XML language. Typical usage:
 <?xml version="1.0"?>
 <!DOCTYPE rlp_svc_init PUBLIC "-//OMA//DTD {abbrev x.y}//EN"
        "http://www.openmobilealliance.org/DTD/{filename}"
        [<?oma-{ref}-ver supported-versions="{versions}"?>]>
 <rlp_svc_init>
      ...
 </rlp_svc_init>

Terms and conditions of use are available from the
Open Mobile Alliance Ltd. web site at
http://www.openmobilealliance.org/ 
-->
<!ELEMENT eme_event (eme_pos+)>
<!ATTLIST eme_event
	eme_trigger (EME_ORG | EME_REL) #REQUIRED
>
<!ELEMENT tlrr_event (ms_action | change_area)>
<!ELEMENT ms_action EMPTY>
<!ATTLIST ms_action
	type (MS_AVAIL) #REQUIRED
>
<!ELEMENT change_area (target_area, no_of_reports?)>
<!ATTLIST change_area
	type (MS_ENTERING | MS_LEAVING | MS_WITHIN_AREA) #REQUIRED
	loc_estimates (TRUE | FALSE) #REQUIRED
>
<!ELEMENT target_area ((shape, cc?) | cc | plmn+)>
<!ELEMENT no_of_reports (#PCDATA)>
<!ELEMENT name_area (#PCDATA)>
<!ELEMENT plmn (mcc, mnc)>
<!ELEMENT interval (#PCDATA)>
<!ELEMENT loc_type EMPTY>
<!ATTLIST loc_type
	type (CURRENT | LAST | CURRENT_OR_LAST | CURRENT_OR_LAST_AS_FALLBACK | INITIAL) "CURRENT"
>
<!ELEMENT prio EMPTY>
<!ATTLIST prio
	type (NORMAL | HIGH) "NORMAL"
>
<!ELEMENT pushaddr (url, id?, pwd?)>
<!ELEMENT req_id (#PCDATA)>
<!ELEMENT lcs_ref (#PCDATA)>
<!ELEMENT start_time (#PCDATA)>
<!ATTLIST start_time
	utc_off CDATA "0000"
>
<!ELEMENT stop_time (#PCDATA)>
<!ATTLIST stop_time
	utc_off CDATA "0000"
>
<!ELEMENT duration (#PCDATA)>
<!ELEMENT url (#PCDATA)>
<!ELEMENT time_remaining (#PCDATA)>
