lib/MojoCheckbot/dtds/www.openmobilealliance.org/tech/DTD/RLP_LOC_100.DTD

<!-- RLP_LOC -->
<!--
RLP V1.0 Document Type Definition

Copyright Open Mobile Alliance Ltd., 2005
          All rights reserved

RLP is an XML language. Typical usage:
 <?xml version="1.0"?>
 <!DOCTYPE rlp_svc_xxx PUBLIC "-//OMA//DTD {abbrev x.y}//EN"
         "http://www.openmobilealliance.org/DTD/{filename}"
         [<?oma-{ref}-ver supported-versions="{versions}"?>]>
 <rlp_svc_xxx>
      ...
 </rlp_svc_xxx>

Terms and conditions of use are available from the
Open Mobile Alliance Ltd. web site at
http://www.openmobilealliance.org/ 
-->
<!ELEMENT pos (msid, (pd | poserr))>
<!ATTLIST pos
	pos_method (CELL | OTDOA | GPS | A-GPS | E-OTD | U-TDOA | OTHER) #IMPLIED
>
<!ELEMENT eme_pos (msid, (pd | poserr), esrd?, esrk?)>
<!ATTLIST eme_pos
	pos_method (CELL | OTDOA | GPS | A-GPS | E-OTD | U-TDOA | OTHER) #IMPLIED
>
<!ELEMENT pd (time, shape, (alt, alt_unc?)?, speed?, direction?, lev_conf?, qop_not_met?)>
<!ELEMENT trl_pos (msid, (pd | poserr | time))>
<!ATTLIST trl_pos
	trl_trigger (MS_AVAIL | CHANGE_AREA) #REQUIRED
	pos_method (CELL | OTDOA | GPS | A-GPS | E-OTD | U-TDOA | OTHER) #IMPLIED
>
<!ELEMENT poserr (result, add_info?, time)>
<!ELEMENT time (#PCDATA)>
<!ATTLIST time
	utc_off CDATA "0000"
>
<!ELEMENT alt (#PCDATA)>
<!ELEMENT alt_unc (#PCDATA)>
<!ELEMENT qop_not_met EMPTY>
<!ELEMENT direction (#PCDATA)>
<!ELEMENT speed (#PCDATA)>
<!ELEMENT lev_conf (#PCDATA)>
<!ELEMENT geo_info (CoordinateReferenceSystem)>
<!ELEMENT CoordinateReferenceSystem (Identifier)>
<!ELEMENT Identifier (code, codeSpace, edition)>
<!ELEMENT code (#PCDATA)>
<!ELEMENT codeSpace (#PCDATA)>
<!ELEMENT edition (#PCDATA)>
<!ELEMENT service_coverage ((cc, ndc*)+)>
<!ENTITY % mlp_res.dtd SYSTEM "MLP_RES_300.DTD">
%mlp_res.dtd;
